body {
  font-family: Poppins, sans-serif;
}

#main-name {
  margin: 10% 0 0 5%;
  text-transform: uppercase;
}

ul#main-navigation {
    margin: 0 0 0 8%;
    list-style: none;
    padding: 0;
}

ul#main-navigation > li {
    display: inline-block;
    margin-right: 1rem;
}